# Dependency klasörleri
node_modules/
.pnp/
.pnp.js

# Derleme dosyaları
dist/
build/

# Çalışma dosyaları
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Log dosyaları
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Diğer
.vscode/
.idea/
*.log
