/* Navbar genel stilleri */
.navbar {
    background-color: #14b66d;
    /* Yeşil arka plan rengi */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

/* Logo stilleri */
.logo {
    color: white;
    font-weight: bold;
    font-size: 1.125rem;
    /* 18px */
}

/* Navbar linkleri */
.nav-links {
    display: flex;
    gap: 24px;
    /* Linkler arasındaki boşluk */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Link stilleri */
.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    /* 16px */
    transition: text-decoration 0.3s;
}

/* Link hover efekti */
.nav-links a:hover {
    text-decoration: underline;
}

/* Button stilleri */
button {
    background-color: rgb(89, 89, 219);
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: large;
    cursor: pointer;
    /* Pointer ekledim */
    transition: background-color 0.3s ease;
    /* Hover efekti */
}

button:hover {
    background-color: rgb(68, 68, 179);
    /* Hover rengi */
}

/* Hızlı ve Kolay div stilleri */
.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}

.content-center div {
    width: 40%;
    background-color: white;
    color: black;
    border-radius: 6px;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Hafif gölge */
}

/* İçerik alanı stilleri */
.content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Footer stilleri */
.footer {
    background-color: #14b66d;
    /* Daha koyu bir yeşil */
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

.footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    display: inline;
    margin: 0 10px;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

/* App Container */
.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Footer'ı en alta iter */
footer {
    margin-top: auto;
}